/.idea/
/inner-project/.idea/
/.metals/
/.vscode/
/.bsp/
**/.bloop/
**/target/
**/metals.sbt
/inner-project/.bsp/
/inner-project/sonatype.sbt
/inner-project/.metals/
/inner-project/.vscode/
/project/sdap.sbt
/inner-project/java_with_opts.bat
/inner-project/sbtw-sbt-launch-bundle/
/inner-project/sbtw.bat
/inner-project/sbt.bat
/sbt.bat
/sbtw.bat
/sbtw-sbt-launch-bundle/
/java_with_opts.bat