/.idea/
/inner-project/.idea/
/sbt.bat
/sbt-launch.jar
/.metals/
/.vscode/
/.bsp/
.bloop/
target/
metals.sbt
/inner-project/.bsp/
/inner-project/sbt.bat
/inner-project/sbt-launch.jar
/inner-project/depts-output/sonatype.sbt
/inner-project/depts-plugins/sonatype.sbt
/inner-project/sonatype.sbt
